!!! 5
%html(lang="en-US")
  %body
    %p Please click on the link below to reset your password
    %p= link_to "Reset My Passwod", password_reset_url(@user.token)
    // aqui es url en lugar de path, ya que aqui no estamos en el web ui
    // sino en el user mail
    